@import url("font.css");

#header {
  background-color: #fff;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 400px;
  margin-left: 60px
}

.logo-mobile {
  display: none;
}

.phone-cart, .phone-cart div a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sharp Sans;
  text-decoration: none;
}

.phone-cart {
  margin-right: 60px;
}

.phone-cart div {
  margin-left: 20px;
}

.phone-cart div a img {
  margin-right: 10px;
}

.phone-cart div:first-child a span {
  color: #fff;
  font-weight: bold;
}

.phone-cart div:last-child a span {
  color: #000;
}

.phone {
  width: 160px;
  background-color: #000;
  color: #fff;
  padding: 7px 0;
  border-radius: 40px;
}

.banner {
  width: 100%;
}

.small-banner {
  display: none;
}

@media (max-width: 830px) {
  .logo {
    width: 200px;
    margin-left: 30px;
  }

  .phone-cart {
    margin-right: 30px;
  }
}

@media (max-width: 750px) {

  .top-header {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    width: 100px;
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .phone-cart {
    margin-right: 0;
  }

  .phone-cart div {
    margin-left: 0;
    margin-right: 20px;
  }

  .phone-cart div a img {
    width: 15px;
  }

  .phone-cart div a span {
    font-size: 13px;
  }

  .phone {
    width: 135px;
  }

  .big-banner {
    display: none;
  }

  .small-banner {
    display: block;
  }
}
