@import "../css/font.css";

.video {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0;
}

.video img {
  width: 100%;
}

.video img:last-child {
  display: none;
}

@media (max-width: 736px) {

  .video img:first-child {
    display: none;
  }

  .video img:last-child {
    display: block;
  }
}
